server.port: {{ kibana_server_port }}
server.host: "{{ kibana_server_host }}"
server.name: "{{ kibana_server_name }}"
elasticsearch.hosts: ["{{ kibana_elasticsearch_host }}"]
elasticsearch.preserveHost: {{ kibana_elasticsearch_preserve_host }}
kibana.index: "{{ kibana_index }}"
kibana.defaultAppId: "{{ kibana_default_app_id }}"
logging.dest: {{ kibana_logging_dest }}
logging.silent: {{ kibana_logging_silent }}
logging.quiet: {{ kibana_logging_quiet }}
logging.verbose: {{ kibana_logging_verbose }}
server.publicBaseUrl: "{{ kibana_server_public_base_url }}"
